body{
    
    background-image: url(https://images.unsplash.com/photo-1718078942734-2e039bd097a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNnx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: plum;
    text-size-adjust: 60;
    font-style: oblique;
}
h6{
   font-size:xx-large;
   text-align: center;
   color: blanchedalmond;
   text-decoration-color: blue;
}
.heading{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    font-style: oblique;
    text-size-adjust: 80;
}
.subheading{
    text-align: left;
    text-decoration-color: blue;
    text-decoration-line: initial;
    text tab-size: font-size: 70;
}

